spring:
  cloud:
    config:
      import-check:
        enabled: false


  datasource:
    url: jdbc:postgresql://localhost:${AUTH_DB_PORT}/${AUTH_DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/auth/login/oauth2/code/{registrationId}"
            scope:
              - profile
              - email
              - openid
              -
      resourceserver:
        jwt:
          jwk-set-uri: ${AUTH_SERVICE_URL}${JWK_PATH}
          jws-algorithms: RS256
          authorities-claim-name: role
          authority-prefix: ""


  mail:
    from: noreply@gmail.com
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_SENDER_USERNAME}
    password: ${EMAIL_SENDER_PASSWORD}

  kafka:
    bootstrap-servers: localhost:9094
    consumer:
      auto-offset-reset: latest
      enable-auto-commit: false
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    listener:
      ack-mode: manual_immediate
  pulsar:
    consumer:
      retry-enable: true

logging:
  level:
    org:
      springframework:
        security:
          authentication: debug
          oauth2: debug
      hibernate:
        SQL: debug

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health
  health:
    circuitbreakers:
      enabled: true

resilience4j:
  retry:
    instances:
          codeGenerationRetry:
            max-attempts: 3
            wait-duration: 100ms
            retry-exceptions:
              - org.springframework.dao.DataIntegrityViolationException

eureka:
  client:
    enabled: false

jwt:
  expires-at: ${JWT_EXPIRE_TIME}
  issuer: ${JWT_ISSUER:shopic}
  header-alg: ${JWT_HEADER_ALG:RSA256}
  public-key-url: ${AUTH_SERVICE_URL}${JWK_PATH}


public-key:
  expires-at: ${PUBLIC_KEY_EXPIRATION:3600}

refresh-token:
  expires-at : ${REFRESH_TOKEN_TTL:3600}
  secret: ${REFRESH_TOKEN_SECRET}
  cookie-name: refreshToken

verification-code:
  expires-at : ${CODE_EXPIRATION:900}

signature-secret: ${SIGNATURE_SECRET}





