spring:
  datasource:
    url: ${AUTH_DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/auth/login/oauth2/code/{registrationId}"
            scope:
              - profile
              - email
              - openid


  mail:
    from: noreply@gmail.com
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_SENDER_USERNAME}
    password: ${EMAIL_SENDER_PASSWORD}

logging:
  level:
    org:
      springframework:
        security:
          authentication: debug
          oauth2: debug
      hibernate:
        SQL: debug

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health
  health:
    circuitbreakers:
      enabled: true

jwt:
  expires-at: ${JWT_EXPIRE_TIME}
  issuer: ${JWT_ISSUER:shopic}
  public-key-url: ${AUTH_SERVICE_URL}/api/v1/public-keys


public-key:
  expires-at: ${PUBLIC_KEY_EXPIRATION:3600}

refresh-token:
  expires-at : ${REFRESH_TOKEN_TTL:3600}
  secret: ${REFRESH_TOKEN_SECRET}
  cookie-name: refreshToken

verification-code:
  expires-at : ${CODE_EXPIRATION:900}






