spring:
  datasource:
    url: jdbc:postgresql://${CART_DB_HOST}:${CART_DB_PORT}/${CART_DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  grpc:
    server:
      port: 1014
    client:
      channels:
        product-service:
          address: 0.0.0.0:1013

logging:
  level:
    org:
      hibernate:
        SQL: debug



resilience4j:
  circuitbreaker:
    instances:
      product-service:
        sliding-window-type: COUNT_BASED
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 10
        sliding-window-size: 50
        register-health-indicator: true