spring:
  datasource:
    url: jdbc:postgresql://${PAYMENT_DB_HOST}:${PAYMENT_DB_PORT}/${PAYMENT_DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  grpc:
    server:
      port: ${PAYMENT_GRPC_PORT}

  jpa:
    open-in-view: false
    properties:
      hibernate:
        ddl-auto: validate
        order_inserts: true
        jdbc:
          batch_size: 20
        generate_statistics: true

  kafka:
    bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}

logging:
  level:
    org:
      hibernate:
        SQL: debug


jwt:
  issuer: ${JWT_ISSUER:shopic}
  header-alg: ${JWT_HEADER_ALG}
  public-key-url: ${AUTH_SERVICE_URL}${JWK_PATH}