spring:
  datasource:
    url: ${ORDER_DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  grpc:
    client:
      channels:
        product-service:
          address: 0.0.0.0:${PRODUCT_GRPC_PORT}
        cart-service:
          address: 0.0.0.0:1014
        payment-service:
          address: 0.0.0.0:1015

  jpa:
    open-in-view: false
    properties:
      hibernate:
        ddl-auto: validate
        order_inserts: true
        jdbc:
          batch_size: 20
        generate_statistics: true

  kafka:
    bootstrap-servers: ${KAFKA_URL}
    consumer:
      auto-offset-reset: latest
      enable-auto-commit: false
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    listener:
      ack-mode: manual_immediate
  pulsar:
    consumer:
      retry-enable: true

logging:
  level:
    org:
      hibernate:
        SQL: debug

resilience4j:
  circuitbreaker:
    instances:
      cart-service:
        sliding-window-type: COUNT_BASED
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 10
        sliding-window-size: 50
        register-health-indicator: true
        ignore-exceptions:
          - com.orderservice.exception.ExternalServiceBusinessException

      payment-service:
        sliding-window-type: COUNT_BASED
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 10
        sliding-window-size: 50
        register-health-indicator: true
        ignore-exceptions:
          - com.orderservice.exception.ExternalServiceBusinessException
      product-service:
        sliding-window-type: COUNT_BASED
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 10
        sliding-window-size: 50
        register-health-indicator: true
        ignore-exceptions:
          - com.orderservice.exception.ExternalServiceBusinessException


jwt:
  issuer: ${JWT_ISSUER:shopic}
  header-alg: ${JWT_HEADER_ALG}
  public-key-url: ${AUTH_SERVICE_URL}${JWK_PATH}
