name: Build
on:
  workflow_call:
    inputs:
      context:
        required: true
        type: string
        default: '.'
      service:
        required: true
        type: string


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Make gradlew executable
          run: chmod +x ./gradlew

        - name: Set up Java and Gradle
          uses: actions/setup-java@v5
          with:
            distribution: temurin
            java-version: 21
            cache: gradle

        - name: Run tests
          run: ./gradlew ${{ inputs.service }}:test

        - name: Build JAR
          run: ./gradlew ${{ inputs.service }}:clean ${{ inputs.service }}:build

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Login to GitHub Container Registry
          if: github.event_name != 'pull_request'
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Docker meta
          id: meta
          uses: docker/metadata-action@v5
          with:
            images: |
              ghcr.io/${{ github.repository }}/${{ inputs.service }}
            tags: |
              type=sha
              type=ref,event=branch
              type=ref,event=pr
              type=semver,pattern={{version}}
              type=semver,pattern={{major}}.{{minor}}

        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: ${{ inputs.context }}
            file: ${{ inputs.context }}/Dockerfile
            platforms: linux/arm64,linux/amd64
            push: ${{ github.event_name != 'pull_request' }}
            tags:
              ${{ steps.meta.outputs.tags }}
            labels: |
              service=${{ inputs.service }}
              commit=${{ github.sha }}

